@font-face {
  font-family: 'BeVietnam';
  src: url('./fonts/BeVietnam-Regular.ttf');
}

@font-face {
  font-family: 'Kobe';
  src: url('./fonts/Kobe.otf');
}

:root {
  --background: hsl(14, 36%, 91%);
  --background2: hsl(15, 31%, 95%);
  --text: hsl(0, 0%, 55%);
  --accent: hsl(11, 46%, 62%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  font-family: 'BeVietnam';
  /* overflow-x: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: var(--text);
  max-width: 45ch;
}

a,
span {
  color: var(--accent);
  text-decoration: none;
}

/* Navigation */
nav {
  background-color: rgba(255, 255, 255, 0.75);
  height: 10vh;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav #navbar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

nav #logo {
  max-height: 85%;
  margin: 5px auto;
}

/* Hero */
#hero {
  height: 90vh;
  width: 100vw;
  position: relative;
}

#hero video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#hero a {
  position: absolute;
  bottom: 75px;
  left: -25px;
  transform: rotate(-90deg);
  transition: 0.5s;
  max-width: 15ch;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
}

#hero a:hover {
  transition: 0.5s;
  transform: rotate(-90deg) translateX(10px);
  cursor: pointer;
}

#hero h1 {
  color: #fff;
  font-family: 'Kobe';
  font-size: 6rem;
  max-width: 8ch;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px 5px black;
}

/* Body - Commons */
.section {
  min-height: 100vh;
  display: grid;
  margin: 0 auto;
  padding: 6rem 2rem;
}

.section div {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin: 0 auto;
}

.section h1 {
  font-size: 44px;
  font-family: 'Kobe', sans-serif;
  font-weight: 400;
  letter-spacing: -0.1rem;
  line-height: 0.8;
}

.section h5 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.section p {
  font-family: 'BeVietnam', sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

.section a {
  text-transform: uppercase;
  width: 185px;
  padding-bottom: 5px;
  background: linear-gradient(
      90deg,
      rgba(209, 141, 125, 0.25),
      rgba(209, 141, 125, 0.25),
      rgba(209, 141, 125, 0.25)
    ),
    linear-gradient(90deg, #d18d7d, #d18d7d, #d18d7d);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.45s cubic-bezier(0.19, 1, 0.22, 1),
    color 0.45s cubic-bezier(0.19, 1, 0.22, 1);
}

.section a:hover {
  background-size: 0 0.1em, 100% 0.1em;
}

/* Body - TopSection */
#topSection {
  /* background-color: var(--background); */
  background: linear-gradient(180deg, var(--background) 0%, var(--background2) 100%);
}

#topSection img {
  max-height: 400px;
  max-width: min(85%, 300px);
  align-self: center;
  justify-self: center;
}

#topSection #cakeIMG {
  display: grid;
}

#topSection #cakeIMG p {
  transform: rotate(-90deg) translate(-50%, -75px);
  max-width: 30ch;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#topSectionFirst #FirstSpeech {
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 275px;
  min-width: 250px;
  max-width: 350px;
  justify-content: space-between;
}

#topSectionFirst #marshmallow {
  transform: rotate(-15deg) translateX(50px);
}

#topSectionSecond {
  margin: 2rem auto;
  padding: 0 2rem;
  justify-content: center;
}

/* Body - Swiper */
#swiper {
  margin: 0 auto;
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

#swiper h1 {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: var(--accent);
}

#swiper img {
  max-width: min(350px, 80vw);
  margin: auto;
}

/* Body - Events */
#events {
  background: linear-gradient(180deg, var(--background) 0%, #fff 100%);
  display: grid;
  gap: 75px;
}

#events #nextEvent img {
  max-width: max(20vw, 350px);
  border: 2px solid var(--accent);
  margin: 0 auto;
}

#events div {
  margin: auto;
  display: flex;
  min-height: 275px;
  width: min(80vw, 1200px);
  justify-content: center;
}

#events div div {
  display: grid;
  width: 375px;
}

#events #truck {
  max-width: min(450px, 80vw);
  object-fit: contain;
  margin: 0 auto;
}

/* Body - Courses */
#courses {
  position: relative;
  background: linear-gradient(180deg, var(--background) 0%, #fff 100%);
}

#courses div {
  flex-direction: column;
  justify-self: start;
  margin: auto 0;
  z-index: 2;
}

#courses img {
  position: absolute;
  top: -5vh;
  left: 0;
  opacity: 0.5;
}

@media screen and (min-width: 1000px) {
  #courses div {
    margin-left: 35%;
    transform: translateX(-50%);
  }

  #courses img {
    opacity: 1;
    left: 50%;
  }
}

/* Body - Contact */
#contact {
  background-color: var(--background);
}
