@font-face {
  font-family: 'BeVietnam';
  src: url('./fonts/BeVietnam-Regular.ttf');
}

@font-face {
  font-family: 'Kobe';
  src: url('./fonts/Kobe.otf');
}

:root {
  --background: #f0e4e0;
  --background2: hsl(15, 31%, 95%);
  --text: hsl(0, 0%, 55%);
  --accent: #cb8272;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  font-family: 'BeVietnam';
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: var(--text);
  max-width: 45ch;
}

a,
span {
  color: var(--accent);
  text-decoration: none;
}

/* Hero */
#hero {
  height: 75vh;
  width: 100vw;
  position: relative;
  background: linear-gradient(180deg, var(--accent) 0%, var(--background) 100%);
}

#hero img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  height: 105%;
}

#hero svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -85%);
  height: 27.5%;
  filter: drop-shadow(1px 1px 3px rgb(0 0 0 / 0.9));
}

#hero h1 {
  color: #fff;
  font-family: 'Kobe';
  font-size: 6rem;
  max-width: 8ch;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 5px black;
}

/* Body - Commons */
.section {
  display: grid;
  margin: 0 auto;
  padding: 6rem 2rem;
}

.section div {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin: 0 auto;
}

.section h1 {
  font-size: 44px;
  font-family: 'Kobe', sans-serif;
  font-weight: 400;
  letter-spacing: -0.1rem;
  line-height: 0.8;
}

.section h5 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.section p {
  font-family: 'BeVietnam', sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

.section a {
  text-transform: uppercase;
  width: 185px;
  padding-bottom: 5px;
  background: linear-gradient(
      90deg,
      rgba(209, 141, 125, 0.25),
      rgba(209, 141, 125, 0.25),
      rgba(209, 141, 125, 0.25)
    ),
    linear-gradient(90deg, #d18d7d, #d18d7d, #d18d7d);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.45s cubic-bezier(0.19, 1, 0.22, 1),
    color 0.45s cubic-bezier(0.19, 1, 0.22, 1);
}

.section a:hover {
  background-size: 0 0.1em, 100% 0.1em;
}

/* Body - TopSection */
#topSection {
  background: linear-gradient(180deg, var(--background) 0%, var(--background2) 100%);
  padding-top: 10rem;
  padding-bottom: 0;
}

#topSection img {
  max-height: 800px;
  max-width: min(85%, 300px);
  align-self: center;
  justify-self: center;
}

#containerTopSection {
  margin-bottom: 0;
  padding-bottom: 0;
}

#containerTopSection #FirstSpeech {
  margin: 0 auto 4rem auto;
  display: flex;
  flex-direction: column;
  min-height: 275px;
  min-width: 250px;
  max-width: 350px;
  justify-content: space-between;
}

/* Body - Events */
#events {
  background: var(--background);
  display: grid;
  gap: 75px;
}

#events #nextEvent img {
  max-width: max(20vw, 350px);
  border: 2px solid var(--accent);
  margin: 0 auto;
}

#events div {
  margin: auto;
  display: flex;
  min-height: 275px;
  width: min(80vw, 1200px);
}

#events div div {
  width: 375px;
}

#events div #nextEvent iframe {
  height: 350px;
  width: 100%;
  box-shadow: 0px 0px 4px var(--accent);
}

#events #truck {
  max-width: min(450px, 80vw);
  object-fit: contain;
  margin: 0 auto;
}

/* Body - Courses - Swiper */
#swiper {
  margin: 6rem auto;
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

#swiper h1 {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: var(--accent);
}

#swiper div {
  width: min(350px, 80vw);
  min-height: 233.7px;
  position: relative;
}

#swiper div div {
  position: relative;
  overflow: hidden;
}

#swiper div img {
  position: absolute;
  top: 0;
  left: 0;
  transition: 1.25s cubic-bezier(0.19, 1, 0.22, 1);
  max-width: 350px;
  object-fit: cover;
}

#swiper div img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#swiper div p {
  position: absolute;
  bottom: -2rem;
  left: 0;
}

/* Body - Courses */
#courses {
  background: var(--background2);
  position: relative;
}

#courses #coursesChoice {
  flex-direction: column;
  justify-self: center;
  margin: auto 0;
  z-index: 2;
}

#courses #coursesDesc img {
  max-height: 75vh;
  position: absolute;
  bottom: 5%;
  left: 50%;
  opacity: 0.75;
  transform: translateX(-50%);
}

/* Body - Contact */
#contact {
  display: grid;
  margin: 0 auto;
  background-color: var(--background);
}

#contact .containerContact {
  display: grid;
}

#contact .containerContact h1 {
  text-align: center;
}

#contact .containerContact a {
  width: 225px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin: 2rem auto 0 auto;
  background: var(--accent);
  padding: 1rem 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(209, 141, 125, 0.25);
  transition: scale 0.25s;
}

#contact .containerContact a:hover {
  cursor: pointer;
  scale: 1.05;
}

/* Footer */
footer {
  background-color: var(--background2);
  width: 100%;
  padding: 1rem;
}

footer .containerFooter {
  display: flex;
  gap: 10px;
  max-width: 750px;
  margin: 0 auto;
}

footer .containerFooter a {
  align-self: center;
}

footer .containerFooter img {
  max-width: 50px;
  margin: 0 auto;
  object-fit: contain;
}

footer .containerFooter div {
  margin: 0 auto;
}

footer .containerFooter p {
  max-width: none;
  margin: 1rem auto 0 auto;
  text-align: center;
}

footer .containerFooter div div div {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

footer .containerFooter a:hover {
  scale: 1.025;
  filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.5));
}

@media screen and (min-width: 1000px) {
  #containerTopSection #FirstSpeech {
    margin: auto;
  }

  #courses #coursesDesc img {
    position: inherit;
    opacity: 1;
    transform: translateX(-50%);
  }
}
